EMAIL_API_URL = "<URL>"
SERVICE_BUS_QUEUE_CONNECTION_STRING = "<CONNECTION_STRING>"
SERVICE_BUS_QUEUE_NAME = "<QUEUE_NAME>"
TESTING_VARIABLE = "test-passed"

# run this command to get a base64 encoded string of the .env file for github secret
# $ openssl base64 -A -in .env -out .txt